@media screen and (min-width: 61.5625em) {
    /* TAKE ACTION - EXPLANATION */
    .take_action-explanation .explanation {
        flex: 1;
    }
    .take_action-sign_petition .petition {
        flex: 1;
    }
    .take_action-extras .extra {
        flex: 1;
    }
    /* TAKE ACTION CONTENT */
    .content-take_action > div {
        width: 50%;
    }
    .site-header {
        height: 70px;
        padding: 0 20px;
    }
    .site-branding { 
        flex: 1 auto; 
        order: 1;
    }
    .language-navigation {
        flex: 1 auto;
        order: 3;
    }
    .main-navigation {
        flex: 1 auto;
        order: 2;
    }

    body:not(.search-results) article:not(.type-page) .entry-content {
        float: none;
        width: auto;
    }
}