#primary.content-area {
    float: none;
    max-width: $content-width;
    margin: 50px auto;

    .page-header {
        border-top: 0;
    }
}

section#category {
    max-width: $content-width;
    margin: 0 auto;

    article {
        margin-top: 50px;
        display: flex;

        .entry-image {
            flex: 4;
            height: 380px;
            min-width: 380px;
            max-width: 380px;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-image: url("./images/image-placeholder.jpg");
        }

        .content-wrapper {
            flex: 6;
            margin-left: 20px;
            margin-right: 20px;

            .entry-header {
                margin-top: 20px;
            }

            .entry-title {
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 10px;
            }

            .entry-content {
                float: none;
                margin: 40px 20px;
                width: auto;
            }
        }
    }
}